<section class="modal">
    <mat-dialog-content class="modal__content">
        <h1 class="modal__title" mat-dialog-title>Viajante</h1>
        <div class="modal__age-selection">
            <app-modal-category [formControl]="searchFormService.changControl('adult')" title="Adultos"
                subtitle="(Acima de 12 anos)">
            </app-modal-category>

            <app-modal-category title="Crianças" subtitle="(Entre 2 e 11 anos)"></app-modal-category>
            <app-modal-category title="Bebês" subtitle="(Até 2 anos)"></app-modal-category>
        </div>
        <h1 class="modal__title" mat-dialog-title>Categoria</h1>
        <div class="modal__category-selection">
            <mat-chip-listbox class="modal__category-list" aria-label="Seleção de tipos de assentos">
                <mat-chip-option class="modal__category-item" value="Econômica"
                    [selected]="searchFormService.formSearch.get('type')?.value === 'Econômica'"
                    (selectionChange)="searchFormService.changeType($event,'Econômica')">Econômica</mat-chip-option>
                <mat-chip-option class="modal__category-item" value="Executiva"
                    [selected]="searchFormService.formSearch.get('type')?.value === 'Executiva'"
                    (selectionChange)="searchFormService.changeType($event,'Executiva')">Executiva</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class="modal__button-close" mat-button mat-dialog-close>BUSCAR</button>
    </mat-dialog-actions>
</section>