.modal {
  &__content {
    width: 650px;
    height: 450px;
  }

  &__age-selection {
    display: flex;
    padding: 32px;
    justify-content: space-between;
    margin: 0;
  }

  &__modaltitle {
    padding: 0;
  }

  &__category-selection {
    padding-left: 32px;
  }
  &__button-close {
    padding: 8px;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    background-color: #e8def8;
    border-style: none;
    border-radius: 6px;
    box-shadow: 1px 1px 4px gray;
    margin: 16px;
    width: 100%;
  }
}
