<mat-toolbar class="toolbar">
  <div class="toolbar__logo">
    <img class="toolbar__logo-image" src="assets/Logo.png" alt="Logo da aplicação Jornada">
    <p class="toolbar__logo-title">Keller Milhas</p>
  </div>
  <span class="toolbar__spacer"></span>
  <button class="toolbar__button toolbar__button-sale" mat-button>Vender milhas</button>
  <button class="toolbar__button toolbar__button-about" mat-button>Sobre</button>
  <button class="toolbar__button toolbar__button-register" mat-raised-button color="primary">Cadastre-se</button>
  <button class="toolbar__button toolbar__button-login" mat-stroked-button>LOGIN</button>
</mat-toolbar>