<footer class="footer">
    <app-container>
        <div class="footer__content">
            <ul class="footer__list">
                <li class="footer__item">
                    <img class="footer__logo" src="assets/Logo.png" alt="">
                </li>
                <li class="footer__item">
                    Horário de atendimento: 08h - 20h (Segunda a Sábado)
                </li>
                <li class="footer__item">
                    Desenvolvido por Alura. Projeto fictício sem fins comerciais
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    Acesse nossas redes:
                </li>
                <li class="footer__item">
                    <button mat-icon-button class="footer__button">
                        <img src="assets/Instragam.png" alt="Instragam">
                    </button>
                    <button class="footer__button">
                        <img src="assets/Twiter.png" alt="Twiter">
                    </button>
                    <button class="footer__button">
                        <img src="assets/Whatsapp.png" alt="Whatsapp">
                    </button>
                </li>
            </ul>
        </div>
    </app-container>
</footer>